# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock-bakk.json
package-lockbakkk2.json
node_modules/.package-lock.json
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/@popperjs_core_dist_umd_popper_js.js
node_modules/.vite/deps/@popperjs_core_dist_umd_popper_js.js.map
node_modules/.vite/deps/chunk-32RECFL6.js
node_modules/.vite/deps/chunk-32RECFL6.js.map
node_modules/.vite/deps/chunk-GSFIZ56T.js
node_modules/.vite/deps/chunk-GSFIZ56T.js.map
node_modules/.vite/deps/chunk-M6EJRY2Q.js
node_modules/.vite/deps/chunk-M6EJRY2Q.js.map
node_modules/.vite/deps/chunk-OROXOI2D.js
node_modules/.vite/deps/chunk-OROXOI2D.js.map
node_modules/.vite/deps/lz-string.js
node_modules/.vite/deps/lz-string.js.map
node_modules/.vite/deps/rxjs.js
node_modules/.vite/deps/rxjs.js.map
node_modules/.vite/deps/svelte_animate.js
node_modules/.vite/deps/svelte_animate.js.map
node_modules/.vite/deps/svelte_easing.js
node_modules/.vite/deps/svelte_easing.js.map
node_modules/.vite/deps/svelte_internal.js
node_modules/.vite/deps/svelte_internal.js.map
node_modules/.vite/deps/svelte_motion.js
node_modules/.vite/deps/svelte_motion.js.map
node_modules/.vite/deps/svelte_store.js
node_modules/.vite/deps/svelte_store.js.map
node_modules/.vite/deps/svelte_transition.js
node_modules/.vite/deps/svelte_transition.js.map
node_modules/.vite/deps/svelte.js
node_modules/.vite/deps/svelte.js.map
node_modules/.vite/deps/tabulator-tables.js
node_modules/.vite/deps/tabulator-tables.js.map
node_modules/.vite/deps/typescript.js
node_modules/.vite/deps/typescript.js.map
node_modules/chokidar/node_modules/glob-parent/CHANGELOG.md
node_modules/chokidar/node_modules/glob-parent/index.js
node_modules/chokidar/node_modules/glob-parent/LICENSE
node_modules/chokidar/node_modules/glob-parent/package.json
node_modules/chokidar/node_modules/glob-parent/README.md
node_modules/fast-glob/node_modules/glob-parent/CHANGELOG.md
node_modules/fast-glob/node_modules/glob-parent/index.js
node_modules/fast-glob/node_modules/glob-parent/LICENSE
node_modules/fast-glob/node_modules/glob-parent/package.json
node_modules/fast-glob/node_modules/glob-parent/README.md
node_modules/meow/node_modules/type-fest/index.d.ts
node_modules/meow/node_modules/type-fest/license
node_modules/meow/node_modules/type-fest/package.json
node_modules/meow/node_modules/type-fest/readme.md
node_modules/meow/node_modules/type-fest/source/async-return-type.d.ts
node_modules/meow/node_modules/type-fest/source/asyncify.d.ts
node_modules/meow/node_modules/type-fest/source/basic.d.ts
node_modules/meow/node_modules/type-fest/source/conditional-except.d.ts
node_modules/meow/node_modules/type-fest/source/conditional-keys.d.ts
node_modules/meow/node_modules/type-fest/source/conditional-pick.d.ts
node_modules/meow/node_modules/type-fest/source/entries.d.ts
node_modules/meow/node_modules/type-fest/source/entry.d.ts
node_modules/meow/node_modules/type-fest/source/except.d.ts
node_modules/meow/node_modules/type-fest/source/fixed-length-array.d.ts
node_modules/meow/node_modules/type-fest/source/iterable-element.d.ts
node_modules/meow/node_modules/type-fest/source/literal-union.d.ts
node_modules/meow/node_modules/type-fest/source/merge-exclusive.d.ts
node_modules/meow/node_modules/type-fest/source/merge.d.ts
node_modules/meow/node_modules/type-fest/source/mutable.d.ts
node_modules/meow/node_modules/type-fest/source/opaque.d.ts
node_modules/meow/node_modules/type-fest/source/package-json.d.ts
node_modules/meow/node_modules/type-fest/source/partial-deep.d.ts
node_modules/meow/node_modules/type-fest/source/promisable.d.ts
node_modules/meow/node_modules/type-fest/source/promise-value.d.ts
node_modules/meow/node_modules/type-fest/source/readonly-deep.d.ts
node_modules/meow/node_modules/type-fest/source/require-at-least-one.d.ts
node_modules/meow/node_modules/type-fest/source/require-exactly-one.d.ts
node_modules/meow/node_modules/type-fest/source/set-optional.d.ts
node_modules/meow/node_modules/type-fest/source/set-required.d.ts
node_modules/meow/node_modules/type-fest/source/set-return-type.d.ts
node_modules/meow/node_modules/type-fest/source/stringified.d.ts
node_modules/meow/node_modules/type-fest/source/tsconfig-json.d.ts
node_modules/meow/node_modules/type-fest/source/union-to-intersection.d.ts
node_modules/meow/node_modules/type-fest/source/value-of.d.ts
